#Home{
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundColor);
} 

#Home > .empty-space{
    width: 100%;
    height: 3.5rem;
}
#Home > .description-section {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#Home > .description-section > .content{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 90px;
    }
 #Home > .description-section > .content > .description-content {
    width: 79%;
    height: 100%;
    padding-left: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
   } 
#Home > .description-section > .content > .description-content > .row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
#Home > .description-section > .content > .description-content > .row-1 > div:first-child{
    width: 7rem;
    height: 3.5rem;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-top-left-radius: 6px;
 }
 #Home > .description-section > .content > .description-content > .row-1 > div:last-child{
    width: 7rem;
    height: 3.5rem;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 6px;
 }
 #Home > .description-section > .content > .description-content > .text-content{
    width: fit-content;
   height: 100%;
    display: flex;
    padding-left: 25px;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
 }
 #Home > .description-section > .content > .description-content > span {
    float: left !important; 
    padding-left: 3px;
    color: var(--spanColor);
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 5px;
    padding-bottom: 20px;
 }
 #Home > .description-section > .content > .description-content > .text-content > h1{
    float: left !important; 
    padding-top: 0;
    margin: 0;
    padding-left: 15px;
    color: var(--nameColor);
    font-size: 5.7vw;
    font-weight: 900;
 }
 #Home > .description-section > .content > .description-content > .text-content > h2{
    float: left !important; 
    padding-top: 0px;
    margin: 0;
    padding-left: 20px;
    color: var(--subTitleColor);
    margin-top: -7px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 5px;
 }
 #Home > .description-section > .content > .description-content > .text-content > div {
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
 }
 #Home > .description-section > .content > .description-content > .text-content > div > button{
    width: 136px;
    height: 32px;
    font-size: 14px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--spanColor);
    border: var(--spanColor) 1px solid;
    text-align: center;
 }
 #Home > .description-section > .content > .description-content > .row-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 #Home > .description-section > .content > .description-content > .row-2 > div:first-child{
    width: 7rem;
    height: 3.5rem;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-bottom-left-radius: 6px;
 }
 #Home > .description-section > .content > .description-content > .row-2 > div:last-child{
    width: 7rem;
    height: 3.5rem;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-bottom-right-radius: 6px;
 }
 @media screen and (max-width:1024px){
    #Home > .description-section > .content > .description-content > .text-content > h1{
        padding: 0;
        font-size: 5.8vw;
     }
     #Home > .description-section > .content > .description-content > .text-content > h2{
        padding: .5vw;
     }
 }
@media screen and (max-width:768px) {
    #Home > .description-section {
        height: 85%;
        display: flex;
        align-items: center;
    }
    #Home > .description-section > .content{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
     }
     #Home > .description-section > .content > .description-content {
        width: 75%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
     }
     #Home > .description-section > .content > .description-content > .text-content{
        height:fit-content;
        display: flex !important;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-left: 0  !important;
     }
     #Home > .description-section > .content > .description-content > .text-content > h1{
        padding: 0;
        font-size: 70px;
     }
     #Home > .description-section > .content > .description-content >  span{
        font-size: 15px;
        padding: 0;
        padding-bottom: 20px;
     }
     #Home > .description-section > .content > .description-content > .text-content > h2{
        padding: 0;
     }
     #Home > .description-section > .content > .description-content > .text-content > div {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 25px;
        padding-left: 0;
     }
 
}

@media screen and (max-width:320px) {
    #Home > .description-section > .content > .description-content > .text-content > h1{
        padding: 0;
        font-size: 15vw;
     }
     #Home > .description-section > .content > .description-content > .text-content > h2{
        padding: 0;
        padding-top: 15px;
        font-size: 4.5vw;
     }
    
}